<div class="min-h-screen flex items-center justify-center bg-blue-50">
  <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-lg">
    <h2 class="text-2xl font-semibold mb-6 text-gray-800 text-center">Crear una Cuenta</h2>
    <form>
      <div class="mb-4">
        <label for="fullName" class="block text-gray-700 text-sm font-bold mb-2">Nombre Completo</label>
        <input type="text" id="fullName" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre completo">
      </div>

      <div class="mb-4">
        <label for="cui" class="block text-gray-700 text-sm font-bold mb-2">CUI</label>
        <input type="text" id="cui" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="CUI">
      </div>

      <div class="mb-4">
        <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
        <input type="tel" id="phone" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Teléfono">
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico</label>
        <input type="email" id="email" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Correo Electrónico">
      </div>

      <div class="mb-4">
        <label for="address" class="block text-gray-700 text-sm font-bold mb-2">Dirección</label>
        <input type="text" id="address" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Dirección">
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
        <input type="password" id="password" class="shadow appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Contraseña">
      </div>

      <div class="flex items-center justify-between">
        <button class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline w-full" type="submit">
          Registrarse
        </button>
      </div>
      <div class="mt-4 text-center">
        <a class="inline-block align-baseline font-semibold text-sm text-gray-600 hover:text-gray-800" href="#">
          ¿Ya tienes una cuenta? Inicia sesión
        </a>
      </div>
    </form>
  </div>
</div>